/* @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geist:ital,wght@0,100..900;1,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Libertinus+Serif+Display&family=Miranda+Sans:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Telex&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.app {
  height: 100%;
  min-height: 100vh;
  /* background: rgb(255, 0, 0); */
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* font-family: "Telex", sans-serif; */
  /* font-family: "Libertinus Sans", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Miranda Sans", sans-serif; */
  /* font-family: "DM Sans", sans-serif; */
  /* font-family: "Geist", sans-serif; */
  /* font-family: "Arimo", sans-serif; */
  /* font-weight: 400; */
  background: white;
  font-size: 15px;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.container {
  /* height: fit-content; */
  min-height: 300px;
  /* background: rgba(172, 255, 47, 0.443); */
  padding: 15px;
}

.question_card {
  border-bottom: 5px solid #e4e4e4;
}

.question_container {
  margin-bottom: 20px;
  max-width: 65ch;
}
.question_container p {
  margin-bottom: 5px;
}

.option_container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#sectionTitle {
  font-weight: 700;
  font-size: 20px;
}

.option_container div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="radio"] {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  /* color: green; */
}

.inputDiv label {
  max-width: 280px;
  margin-left: 15px;
  cursor: pointer;
}

.navigation-hint {
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #054120;
}
.navigation-hint p {
  margin: 0;
}

.pagination_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  /* justify-content: center; */
  /* background: grey; */
  margin: 15px 0 15px 0;
}

.pagination_container button {
  font-size: 20px;
  width: 150px;
  height: 45px;
  background: green;
  color: white;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.ending button {
  font-size: 20px;
  width: 150px;
  height: 45px;
  background: green;
  color: white;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.inputDiv_singleQView {
  align-items: center;
}
/* Hide multiview */
.multi_option {
  display: none;
}
.choice_input {
  font-weight: 400;
}
.choices_container {
  /* background-color:grey; */
  /* margin-top: 15px; */
  font-weight: 600;
  border-bottom: 3px solid #e4e4e4;
}

/* Add bottom line for multi on mobile view and add even background grey */

.choice_item {
  border-bottom: 1px solid #e4e4e4;
}

.choice_item:nth-last-child(-n + 1) {
  border-bottom: none;
  /* border-bottom: 1px solid #e4e4e4; */
}
.choice_item:nth-child(even) {
  /* background: #f3f3f3; */
  background: #f8f9f8;
}

.choices_container:nth-last-child(-n + 1) {
  border-bottom: none;
}

.choice_label {
  /* background: red; */
  /* margin: 16px 0 16px 0; */
  padding-left: 5px;
  padding-top: 1px;
  margin-bottom: 10px;
  max-width: 65ch;
}

.choice_label p {
  margin-bottom: 0;
  font-weight: 500;
}
.choices_container:nth-child(even) {
  background: #f3f3f3;
}

.choice_input div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.survery_endMsg {
  width: fit-content;
  font-size: 14px;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  .app {
    align-items: center;
    font-size: 17px;
    padding-right: 40px;
  }

  .multi_option {
    display: none;
  }
  .container {
    min-width: 650px;
  }

  .survery_endMsg {
    width: 65ch;
    font-size: 15px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .app {
    background: #e4e4e4;
    padding-right: 0;
  }

  .container {
    width: 1000px;
    min-height: fit-content;
    margin-top: 50px;
    padding: 20px 40px 20px 40px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .option_container div {
    align-items: end;
  }
  .option_container .inputDiv_singleQView {
    align-items: center;
  }

  .question_container {
    margin-bottom: 10px;
  }

  .option_container {
    padding-left: 15px;
  }
  .option_container div {
    margin-bottom: 0;
  }

  /* Only for single Q card in Desktop view */
  .singleQView {
    margin-bottom: 20px;
  }

  .multi_option_lables {
    width: 100%;
  }
  .optionLabel {
    /* background-color: red; */
    /* display: flex; */
    width: 100%;
    justify-content: space-between;
    /* text-align: center; */
  }

  .question_card {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }

  .multi_option {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 500px;
  }
  .multi_label {
    display: none;
  }

  .choice_item {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    /* margin-top: 15px; */
    font-weight: 600;
    border-bottom: 1px solid #bebebe;
  }

  .choice_input div {
    margin-bottom: 0;
  }
  .choice_item:nth-last-child(-n + 1) {
    /* border-bottom: none; */
  }
  .choice_input {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
  }

  .choice_input div {
    min-width: 75px;
    display: flex;
    justify-content: center;
  }
  .multi_option input[type="radio"] {
    display: none;
    text-align: center;
  }

  .choice_input input[type="radio"] {
    height: 30px;
    width: 30px;
    vertical-align: middle;
  }

  .option_label {
    text-align: center;
    padding-left: 5px;
  }

  .choice_label p {
    font-weight: 500;
  }
  .optionLabel p {
    text-align: center;
    margin-right: 5px;
    width: 95px;
    text-wrap: wrap;
  }

  .survery_endMsg {
    width: 65ch;
    font-size: 15px;
  }
  .pagination_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: end; */
    min-height: 120px;
    /* min-width: 1000px; */
    background: white;
    padding: 0px 40px 30px;
    border-radius: 0 0 5px 5px;
    border-top: 5px solid #e4e4e4;
    margin: 0;
  }
}
